- name: system version
  shell: cat /etc/redhat-release
- name: change to aliyun
  shell: mv /etc/yum.repos.d/CentOS-Base.repo /etc/yum.repos.d/CentOS-Base.repo.backup;wget -O /etc/yum.repos.d/CentOS-Base.repo http://mirrors.aliyun.com/repo/Centos-7.repo;yum makecache
- name: remove git
  yum: name=git state=absent
- name: Install Software
  yum: name={{ item }} state=latest
  with_items:
    - gcc
    #    - libcurl-dev
    - libcurl-devel
    #    - zlib-devel
    - expat-devel.x86_64
    - libcurl-devel.x86_64
    - curl
    - perl-ExtUtils-MakeMaker
    #    - package
    - automake
    - autoconf
    - libtool
    - make
    - gcc-c++
    - openssl-devel
    - gettext-devel
  ignore_errors: no
- name: mkdir
  shell: mkdir -p {{ gitpath }}
- name: Copy v2.9.2.tar.gz
  copy: src=v2.9.2.tar.gz dest={{ gitpath }}/v2.9.2.tar.gz owner=root group=root
- name: Uncompression v2.9.2.tar.gz
  shell: tar -zxvf {{ gitpath }}/v2.9.2.tar.gz -C {{ gitpath }}/
- name: git all
  shell: cd {{ gitpath }}/git-2.9.2;make prefix=/usr/local/software/git all;
- name: git install
  shell: cd {{ gitpath }}/git-2.9.2;make prefix=/usr/local/software/git install
- name: remove /usr/bin/git
  shell: rm -rf /usr/bin/git
- name: ln git
  shell: ln -s /usr/local/software/git/bin/git /usr/bin/git
- name: source /etc/profile
  shell: echo "export PATH=$PATH:/usr/local/software/git/bin" >> /etc/profile;source /etc/profile
- name: source /etc/bashrc
  shell: echo "export PATH=$PATH:/usr/local/software/git/bin" >> /etc/bashrc;source /etc/bashrc
